* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#content {
    display: flex;
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent 30%);
    position: absolute;
}

#image-sidebar {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 35vw;
    position: relative;
}

#image-sidebar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 15%;
}

.logo {
    position: absolute;
    max-width: 550px;
    max-height: 370px;
}