:root {
    --left-gap: 0 0 0 50px;
    --navy-green: #007e5a;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    color: inherit;
}

span {
    display: block;
}

h3 {
    width: 100%;
    font-size: 1rem;
}

#content {
    display: flex;
}

figcaption a:hover {
    opacity: 0.6;
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent 30%);
    position: absolute;
}

#image-sidebar {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 35vw;
    position: relative;
}

figure > .picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 12%;
}

#image-sidebar > .logo {
    position: absolute;
    max-width: 550px; 
	max-height: 370px;
    /* exchange the max above for something better */
}

figcaption {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Text color */
    padding: 10px; /* Padding around the text */
    text-align: center; /* Align text horizontally */
    width: max-content; /* Set width based on content */
    font-weight: 450; /* Text weight */
    opacity: 0.65; /* Opacity */
}


#right-bar {
    display: flex;
    flex-flow: column nowrap;
    width: 65vw;
    background-color: #f9fafb;
    gap: 50px;
}

.text-welcome > p {
    font-weight: 500;
    font-size: 1.3rem;
}

.sign-up {
	display: flex;
	background-color: white;
	box-shadow: 0px 12px 15px -15px #111;
	padding: 30px 0;
}



.sign-up > form {
	margin: var(--left-gap);
	display: flex;
	flex-flow: row wrap;
	gap: 20px 0px;
}

.form-group {
	max-width: 75%;
	min-width: 40%;
}

.text-welcome {
    margin: var(--left-gap);
	display: flex;
	flex-direction: column;
	gap: 30px;
    max-width: 70%;
    margin-top: 10%;  
}

input {
	border-radius: 4px;
	border: 2px solid #E5E7EB;
	padding: 3px;
	padding-left: 8px;
	padding-right: 6vw;
}

input:focus {
    outline: none;
    border: 2px solid #A6D1B4;
}

span {
	letter-spacing: 1px;
	font-size: 0.9rem;
	font-weight: 500;
	color: #464545;
}

.text-welcome > .no-gap {
    margin-top: -30px;
}

#submit-area {
	margin: var(--left-gap);
}

#submit-area > button {
    cursor: pointer;
	background-color: var(--navy-green);
	color: white;
	padding: 0.7rem 2.5rem;
	border: black;
	border-radius: 6px;
	font-weight: bold;
	font-size: 1rem;
}

#submit-area > p {
	margin-top: 20px;
}

#submit-area > button:hover {
	text-align: center;
	background-color: #01b27e;
}

p a {
	text-decoration: none;
	color: var(--navy-green);
    font-weight: bold;
}

p a:hover {
    color: #01b27e;
}
