:root {
    --left-gap: 0 0 0 50px;
    --navy-green: #a7dab8;
    --light-green: #d0f7dd;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    color: white
}

.toluca-lake {
	position: absolute;
	height: 65vh;
	width: 100vw;
	background-image: url('https://images.unsplash.com/photo-1634325232058-e7b8f80cc20b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	opacity: .3;
}

.error {
	border: 2px solid #c90000;
}

h1 {
    color: var(--navy-green);
}

em {
    width: 100%;
}

h3 {
    font-size: 1rem;
    font-weight: 385;
}

#content {
    display: flex;
}

figcaption a:hover {
    opacity: 0.6;
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent 30%);
    position: absolute;
}

#image-sidebar {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 35vw;
    position: relative;
}

figure > .picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 12%;
}

#image-sidebar > .logo {
	position: absolute;
	max-width: 83%;
	max-height: 370px;
}

figcaption {
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	padding: 10px;
	text-align: center;
	width: 80%;
	font-weight: 450;
	opacity: 0.65;
}


#right-bar {
    display: flex;
    flex-flow: column nowrap;
    width: 65vw;
    background-color: #000000;
    gap: 50px;
}

.text-welcome > p {
    font-weight: 500;
    font-size: 1.3rem;
}

.sign-up {
	display: flex;
	background-color: #27332b;
	box-shadow: 0px 12px 15px -15px #111;
	padding: 30px 0;
	z-index: 1;
}



.sign-up > form {
	margin: var(--left-gap);
	display: flex;
	flex-flow: row wrap;
	gap: 20px 0px;
}

.form-group {
	max-width: 75%;
	min-width: 40%;
}

.text-welcome {
    z-index: 1;
    margin: var(--left-gap);
	display: flex;
	flex-direction: column;
	gap: 30px;
    max-width: 70%;
    margin-top: 10%;  
}

input {
    padding: 2px;
    color: black;
	padding-left: 8px;
	padding-right: 6vw;
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
	outline: none;
	border: 2px solid #347dca;
}

span {
    display: block;
	letter-spacing: 1px;
	font-size: 0.9rem;
	font-weight: 500;
	color: #ffffff;
}

.text-welcome > .no-gap {
    margin-top: -30px;
}

#submit-area {
	background: black;
	height: 260px;
	z-index: 1;
	margin-top: -50px;
	padding-top: 50px;
}

#passwordRequiredMessage {
	visibility: hidden;
	color: #c90000;
	height: 18px;
	font-size: 0.8rem;
	font-weight: bold;
	width: 298.75px;
}

#submit-area > * {
	margin: var(--left-gap);
}

#submit-area > button {
    cursor: pointer;
	background-color: var(--navy-green);
	color: black;
	padding: 0.7rem 2.5rem;
	border: black;
	border-radius: 6px;
	font-weight: bold;
	font-size: 1rem;
}

#submit-area > p {
	margin-top: 20px;
}

#submit-area > button:hover {
	text-align: center;
	background-color: var(--light-green);
}

p a {
	text-decoration: none;
	color: var(--navy-green);
    font-weight: bold;
}

p a:hover {
    color: var(--light-green);
}
